div.collapsed > div {
  background-color : gray;  
  overflow-x: hidden;
  overflow-y: hidden;
}

div.expanded > div {
  background-color: palegoldenrod;
}

div.boundingBox {
  border-style: solid;
  border-width: 1px;
  overflow-y:auto;
  overflow-x:auto;
}

.invisible {
  visibility: hidden;
}